body {
    
    background-image: url(https://lh3.googleusercontent.com/KjC9lwP97EOP51OBBkm6uBBpCEvRTccy2hvYtQ3e8ah5o1p7a_2zaDrnkHGxtyUrUFJu5VSjx-npW7I-OAiLasnGrjCrBzElwvLSKeR6-dm3pEwNHpAmtXA2AMMVqOw0MHueRx91iLi1skYNgoD0RcYmeC0HTwgVMETKyDcwDLjuDPdCgaz3mXfsMr0M7ByWf44ulGrIh8okLkg7nWizxgZsgV57TEzhdFJ3hjhiyzGnRe2tsD_cMLeNaqC4dm7kKsz-4s5vVr-dEr1pJ4obabQidg7-zXc6g5A4uacFT9qQ_1Hn9FnEjDt_K4JVa9yE51DPr5WHbCGiaJU3yL4vvJnzDjTEze5xqWwrqYt5JLjRmtlWL9JX5JjC5w1w1FapW0xnWBuBzMM1o9kkV9IXYWEeTq68uF5ljnBwGd8Blu2tybEy0gVshDJPUuLipNAfert2pBo1jG1Sf_HtGIt5xgnXP7c2_o1DAt0JR1TPfaCv3w9lR7EgtniKzTYOk_FOOfQZK3WI4Fi8IgY7acMsqmgKUJJDMKGIzCleFNL1gADwD5pOdvJKr9xyg7thDAbib14_aO-Fsolac3qYnwuYiemeBzdeNq0-Rn7pRyO4QOMTodEQYsyFvpaC896oHtPIozbEEf4F__s6Fojw-dEtuxjm1vIpC3ay0zcgkCyKmdZGozTJqPdginaTYys0ute3h75G3hDK5jGr7jjMfx7Rrqa_yVEl43KGk5Om2lOhpvWDrUrs1wHmvgi0Lmg=w706-h952-no?authuser=0);

}

h1 {
    font-size: 70px;
    color: #ff00ff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 1140px;
    height: 780px;
    margin: 0 auto;
    box-sizing: border-box;
}

.contenedorButton{
    width: 100%;
    height: 100%;
    position: relative;
}

.buttonSi{
    border-radius: 8px;
    border: none;
    background-color: #00aa00;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin-top: 25%;
    margin-right: 10%;
    margin-left: 32%;
}

.buttonNo{
    border: none;
    background-color: #ff0000;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 50px;
    border-radius: 8px;
}